/* /klinecharts-workspace/packages/preview/src/index.css */

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  /* Default to light theme color */
  --app-border-color: #ebedf1; 
}

/* When the root div has data-theme="dark", update the variable */
#app[data-theme="dark"] {
  --app-border-color: #292929;
}

body {
  margin: 0;
  height: 100vh;
  overflow: hidden; /* 防止出现滚动条 */
}

#app {
  height: 100%;
  width: 100%;
}

.main-layout {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
}

.chart-container {
  flex: 1;
  height: 100%;
  position: relative;
}

#container {
  width: 100%;
  height: 100%;
}

.chat-area-container {
  width: 320px;
  height: 100%;
  flex-shrink: 0;
  border-left: 1px solid var(--app-border-color);
  box-sizing: border-box;
}